.App {
  text-align: center;
}

.App-header {
  background-color: #0F0E47;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 150px;
}

/* nav bar pages */
.navBar {
  display: flex;
  flex-direction: row;
  position: fixed;
  align-items: center;
  top: 0;
  left: 0;
  gap: 50px;
  width: 100%;
  height: 70px;
  z-index: 1000;
  background-color: rgb(40, 38, 87, 0.5);
  backdrop-filter: blur(5px);
}

.navLinks {
  font-size: 19px;
}

section {
  scroll-snap-align: start;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
  gap: 50px;
}

a {
  text-decoration: none;
  color: white;
  transition: transform 0.2s ease-in-out;
}

a:hover {
  color: #8685AD;
  transition: 0.2s ease-in-out;
  transform: scale(1.02);
}

/* home/intro */
.introDiv {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-items: center;
  justify-content: center;
  gap: 80px;
  margin-bottom: 100px;
}

.introScreen {
  margin-top: 300px;
}

.headshot {
  width: 100%;
  max-width: 250px;
  border-radius: 50%;
}

/* about */
.aboutDiv {
  max-width: 900px;
  padding: 5px;
}

/* projects */
.project1, .project2, .project3, .project4 {
  max-width: 1000px;
  height: 400px;
  background-color: #8685AD;
  border-radius: 20px;
  padding: 30px;
  margin-bottom: 60px;
  
  transition: transform 0.2s ease-in-out;
}

.project1:hover, .project2:hover, .project3:hover, .project4:hover {
  transform: scale(1.02);
}

.project1Img, .project3Img, .project4Img {
  max-width: 40%;
  height: 70%;
  border-radius: 15px;
}

.thrifted {
  max-width: 12%;
  height: 40%;
  border-radius: 15px;  
}

.project2Img {
  max-width: 50%;
  height: 40%;
  border-radius: 15px;
}

.project1Flex, .project2Flex, .project3Flex, .project4Flex {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 20px;
  /* background-color: red; */
}

.projectTitle, .projectTitle1 {
  font-size: 35px;
  font-weight: 500;
  margin: 0;
}

.projectDate {
  font-size: 15px;
}

.projectDetails {
  font-size: 15px;
}

.projectDetails:hover {
  color: #282657;
}

/* contact */
.buttonDiv {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-bottom: 20px;
}

.contactDiv {
  margin-bottom: 90px;
}

.contactButtons {
  /* background-color: #525081; */
  padding-left: 20px;
  padding-right: 20px;
  margin-top: 15px;
  border-radius: 150px;
  transition: transform 0.2s ease-in-out;
  /* width: 80px; */
}

.contactButtons:hover {
  /* background-color: #8685AD; */
  transform: scale(1.12);
  color: white;
}

.footerText {
  font-size: 15px;
}

.footer {
  background-color: #282657;
  width: 100%;
}